html,
body {
  height: 100%;
}

body {
  background-color: black;
  background: url(../assets/imagens/rm373batch13-086.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

.form-container {
  max-width: 680px;
  padding: 1rem;
}

.form-container .form-floating:focus-within {
  z-index: 2;
}

.form-container input[type="text"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-container input[type="email"] {
  margin-bottom: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-container input[type="password"] {
  margin-bottom: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}