@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: orbitron, Arial, Helvetica, sans-serif;
    background: #111827;
    background-image: url(../assets/imagens/rm373batch13-086.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f9fafb;
    min-height: 100vh;
    padding: 30px;
}

.jogo {
    text-align: center;
    margin-bottom: 25px;
}

.jogo h1 {
    font-size: 42px;
    letter-spacing: 1px;
}

/* área principal */
.principal {
    max-width: 1350px;
    margin: auto;
    background: #1f2937;
    border-radius: 18px;
    padding: 40px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    position: relative;
    /* necessário pro ::before se posicionar */
    z-index: 0;
    /* cria um contexto de empilhamento */
    overflow: hidden;
    /* garante que a imagem não vaze do border-radius */
}

/*  Cria o efeito de imagem de fundo com opacidade */
.principal::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/imagens/chalkboard.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
    border-radius: 18px;
    /* repete o radius pra imagem acompanhar as bordas arredondadas */
}

/* topo */
.top {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

/* painel lateral */
.tabela {
    width: 220px;
    background: #111827;
    border-radius: 14px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-weight: bold;
    line-height: 1.6;
}

/* centro */
.questao-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* questão */
.questao {
    font-family: space-mono, Arial, Helvetica, sans-serif;
    flex: 1;
    background: #111827;
    border-radius: 14px;
    padding: 45px;
    min-height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TituloQuest {
    padding-bottom: 40px;
    margin: 0px;
    margin-bottom: 0x;
}

.pergunta {
    padding-bottom: 80px;
}

.questao h3 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 24px;
}

.questao p {
    text-align: center;
    line-height: 1.7;
    font-size: 17px;
    color: #d1d5db;
}

/* resposta */
.resposta {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-right: 150px;
}

.resposta form {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 420px;
}

.resposta input {
    flex: 1;
    height: 44px;
    border: none;
    border-radius: 10px;
    padding: 0 14px;
    font-size: 16px;
    background: #374151;
    color: white;
}

.resposta input::placeholder {
    color: #cbd5e1;
}

#btnEnviar {
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
    background: #8b5cf6;
    color: white;
    transition: 0.2s;
}

.resposta button:hover {
    transform: translateY(-1px);
}

#mensagemResposta {
    display: none;
    margin-top: 20px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.sucesso {
    color: #22c55e;

}

.erro {
    color: #ef4444;

}

/* cartas */
.cartas {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.carta {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carta:hover {
    transform: translateY(-20px) rotate(3deg);
    box-shadow: 0 15px 30px rgba(139, 92, 246, 0.4);
}

.carta {
    width: 165px;
    height: 210px;
    border-radius: 14px;
    background: #111827;
    border: 2px dashed #4b5563;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
}

#btnDica.carta.usada,
#btnMult.carta.usada,
#btnSkip.carta.usada {
    background: url(../assets/imagens/carta-usada.svg);
    border: 2px dashed #4b5563;
    cursor: not-allowed;
    text-align: center;
    margin-left: 10px;
}

#btnDica {
    background: url(../assets/imagens/mathcard_bonus_dica.svg);
}

#btnMult {
    background: url(../assets/imagens/mathcard_bonus_multiescolha.svg);
}

#btnSkip {
    background: url(../assets/imagens/mathcard_bonus_pular.svg);
}

.usada {
    background: url(../assets/imagens/carta-usada.svg);
    opacity: 0.5;
    cursor: not-allowed;
}

#alternativas {
    margin-top: 20px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
}

#alternativas button {
    width: 120px;
    height: 60px;
    background: white;
    cursor: pointer;
    border-radius: 10px;
    background: #8b5cf6;
    color: white;
    font-weight: bold;
    border: none;
}



#btnMute {
    width: 40px;
    height: 20px;
}

@media screen and (max-width: 768px) {
    .principal {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 70vw;
    }

    div.questao {
        width: 60vw;
        margin: auto;
    }

    div.top {
        flex-direction: column;
        gap: 20px;
    }

    .tabela {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    #respostaInput {
        text-align: center;
        padding: 8px;
    }

    #btnEnviar {
        padding: 6px;
        width: 100px;
    }

    .resposta {
        text-align: center;
        margin: 60px;
        align-items: center;
    }

    #formResposta {
        align-items: center;
    }

    .resposta form {
        justify-content: center;
        margin: auto;
        
        flex-direction: column;
        gap: 15px;
    }

    .cartas {
        flex-wrap: wrap;
        gap: 20px;
    }



}